{% extends "layout.html" %}
{% block content%}

    <h1>Punch Out</h1>
    <br>
    <div>
        <a href="{{ url_for('home') }}">Home</a>
        <br>
        <a href="{{ url_for('register') }}">Register</a>
    </div>
    
    <br>
    <form method="POST", action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <div>
                {{ form.name.label }}
    
                {% if form.name.errors %}
                    {{form.name}}
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.name}}
                {% endif %}   
            </div>
            <div>
                {{ form.time_out.label }}
            
                {% if form.time_out.errors %}
                    {{form.time_out}}
                    {% for error in form.time_out.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                {% else %}
                    {{ form.time_out}}
                {% endif %}
            </div>
        </fieldset>

        {{ form.submit}}   
    </form>

{% endblock content%}